<div class="policy-detail-page" *ngIf="policyDetail | async as policy">
  <div class="policy-card">

    <ng-container *ngIf="!editForm; else editPolicyForm">

      <div class="policy-header">
        <h1>{{ policy.policyType }} Insurance Policy</h1>

        <span class="policy-status" [ngClass]="{
            active: policy.status?.toLowerCase() === 'active',
            expired: policy.status?.toLowerCase() === 'expired'
          }">
          {{ policy.status }}
        </span>
      </div>

      <div class="policy-info-grid">
        <div class="info-item">
          <span class="label">Policy Number</span>
          <span class="value">{{ policy.policyNumber }}</span>
        </div>

        <div class="info-item">
          <span class="label">Policy Type</span>
          <span class="value">{{ policy.policyType }}</span>
        </div>

        <div class="info-item">
          <span class="label">Coverage Amount</span>
          <span class="value highlight">{{ policy.coverageAmount }}</span>
        </div>

        <div class="info-item">
          <span class="label">Annual Premium</span>
          <span class="value">₹{{ policy.premium }}</span>
        </div>

        <div class="info-item">
          <span class="label">Start Date</span>
          <span class="value">
            {{ policy.startDate | date:'mediumDate' }}
          </span>
        </div>

        <div class="info-item">
          <span class="label">End Date</span>
          <span class="value">
            {{ policy.endDate | date:'mediumDate' }}
          </span>
        </div>
      </div>


      <div class="policy-actions" *ngIf="(role |async)==='Agent'">
        <button class="btn secondary" (click)="enableEdit()">
          Edit Policy
        </button>
      </div>

    </ng-container>


    <ng-template #editPolicyForm>

      <h2 class="form-title">Update Policy</h2>

      <form class="policy-form">

        <div class="form-group">
          <label>Policy Type</label>
          <input type="text" [(ngModel)]="form.policyType" name="policyType" />
        </div>

        <div class="form-group">
          <label>Coverage Amount</label>
          <input type="text" [(ngModel)]="form.coverageAmount" name="coverageAmount" />
        </div>

        <div class="form-group">
          <label>Annual Premium</label>
          <input type="number" [(ngModel)]="form.premium" name="premium" />
        </div>

        <div class="form-actions">
          <button type="button" class="btn secondary" (click)="closeEdit()">
            Cancel
          </button>

          <button type="submit" class="btn primary" (click)="updatePolicy()">
            Update Policy
          </button>
        </div>

      </form>

    </ng-template>

  </div>
</div>